body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("swimmer_background.jpg");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
